PORT=number
HOST=string
APP_URL=http://localhost
NODE_ENV=local
# secret
JWT_SECRET_KEY=string
EXPRESS_SESSION_SECRET=string

# google
GOOGLE_CLIENT_ID=string

# redis
REDIS_URL=url
REDIS_KEY_PREFIX=string

# db
MONGODB_TABLE_PREFIX=string
MONGODB_URL=string

# paypal
PAYPAL_CLIENT_ID=string
PAYPAL_CLIENT_SECRET=string
PAYPAL_MODE=sandbox or live

# crypto
NGOO_CONTRACT_ADDRESS=string
NGOO_CHAIN_ID=string
NGOO_SIGNER=string
MONAD_RPC_URL=string



